<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="net.sp2p.eclipse.util.showfile.ShowFileInWindowsHandler"
            id="net.sp2p.eclipse.util.cmd.windows"
            name="Show in Windows Explorer">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="net.sp2p.eclipse.util.showfile.ShowFileInMacHandler"
            id="net.sp2p.eclipse.util.cmd.mac"
            name="Show in Finder">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.open">
         <command
               commandId="net.sp2p.eclipse.util.cmd.windows"
               id="net.sp2p.eclipse.util.menu.cmd.windows"
               label="Show in Windows Explorer"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <systemTest
                     property="osgi.os"
                     value="win32">
               </systemTest>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.open">
         <command
               commandId="net.sp2p.eclipse.util.cmd.mac"
               id="net.sp2p.eclipse.util.menu.cmd.mac"
               label="Show in Finder"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <systemTest
                     property="osgi.os"
                     value="macosx">
               </systemTest>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
